div.download_content {
  padding: 0px 15px;
  background-color: #ecf0f1;
  display:inline-block;
  border: 1px solid #999;
  word-break: break-all;
}

.download_error_message {
  color: #903;
}

.title_copy_button {
  border: none;
  outline:none;
  margin: 2px 10px;
  padding: 4px 10px;
  background-color: #39c;
  color: #000;
}

.title_copy_click {
  background-color: #6cc;
}

.link_copy_button {
  border: none;
  outline:none;
  margin: 2px 10px;
  padding: 4px 10px;
  background-color: #ccc;
  color: #000;
}

.link_copy_click {
  background-color: #f90;
}

.link_color {
  color: #00c;
}

.best_quility_link_color {
  color: #903;
}

.cda_download_button {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 6px 12px;
  z-index: 5001;
}

.vod_download_button {
  position: absolute;
  left: 0px; top: 0px;
  background-color: #2fd6ff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font: bold 16px Arial, sans-serif;
  line-height: 24px;
  z-index: 100;
  padding: 0px 10px;
  border: none;
}

.vod_ipla_downlaod_button {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #2fd6ff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font: bold 16px Arial, sans-serif;
  line-height: 24px;
  z-index: 100;
  padding: 0px 10px;
  border: none;
}

.tvn_download_button {
  position:absolute;
  z-index: 100;
  font-size: 14px;
  padding: 12px 18px;
}

.tvp_vod_downlaod_button {
  position:absolute;
  z-index: 1;
  text-transform: uppercase;
  margin-top: 0px !important;
  width: auto !important;
  height: 30px !important;
  padding: 0px 15px;
}

.tvp_cyf_downlaod_button {
  position:absolute;
  z-index: 1;
  text-transform: uppercase;
  width: auto;
  height: 30px;
  padding: 0px 15px;
  background-color: #4c92e3;
  color: #fff;
  border: 0px;
  font: 900 12px Lato, sans-serif; 
  cursor: pointer;
  letter-spacing: 1.5px;
}

.tvp_downlaod_button {
  position:absolute;
  z-index: 1;
  text-transform: uppercase;
  width: auto;
  height: 30px;
  padding: 0px 15px;
  background-color: #4c92e3;
  color: #fff;
  border: 0px;
  cursor: pointer;
}

.ipla_download_button {
  position: absolute; 
  top: 0px;
  left: 0px;
  z-index: 1;
  border: 0px;
  text-transform: uppercase;
  padding: 6px 10px;
  font: bold 13px Montserrat, sans-serif;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.playerBox-x {
  position: absolute;
}
