/** common **/
.page-content {
    margin: 0.5rem;
    font-size: 14px;
}

.bug-report-position {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

/** loader **/
.spinner-size {
    width: 4rem;
    height: 4rem;
}

/** results **/
.notification-container {
    position: absolute;
    top: 0.33rem;
    right: 0.33rem;
    min-height: 10rem;
}

.actions-row {
    width: 19rem;
}

.notification {
    min-width: 22rem;
}

.notification-body {
    word-wrap: break-word;
}
