/** common **/
.page-content {
    margin: 15px;
    font-size: 14px;
}

.bug-report-position {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

/** loader **/
.spinner-size {
    width: 4rem;
    height: 4rem;
}

/** results **/
.notification-container {
    position: absolute;
    top: 10px;
    right: 10px;
    min-height: 8em;
}

.actions-row {
    width: 23em;
}

.notification {
    min-width: 23em;
}

.notification-body {
    word-wrap: break-word;
}
