/* download view */
div.download_content {
    padding: 0 15px;
    background-color: #ecf0f1;
    display:inline-block;
    border: 1px solid #999;
    word-break: break-all;
    color: black;
}

.download_error_message {
    color: #903;
}

.title_copy_button {
    border: none;
    outline:none;
    margin: 2px 10px;
    padding: 4px 10px;
    background-color: #39c;
    color: #000;
}

.title_copy_click {
    background-color: #6cc;
}

.link_copy_button {
    border: none;
    outline:none;
    margin: 2px 10px;
    padding: 4px 10px;
    background-color: #ccc;
    color: #000;
}

.link_copy_click {
    background-color: #f90;
}

.link_color {
    color: #00c;
}

.best_quility_link_color {
    color: #903;
}