/* styles of buttons for supported pages */
.video_button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    font: 18px Arial, Helvetica, sans-serif;
    z-index: 5001;
    padding: 10px 10px;
    color: #fff;
}

.video_button i {
    color: #fff !important;
}

.right {
    right: 0px;
}

.small_padding {
    padding: 5px 10px !important;
}

.player-video-container .video_button {
    padding: 20px 20px !important;
}