/* styles of buttons for supported pages */
.video_button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    font: 14px Arial, Helvetica, sans-serif;
    z-index: 5001;
    padding: 2px 2px !important;
    margin: 5px;
}

.video_button_circle {
    color: rgba(30,30,30,.7);
}

.right_margin {
    right: 5px;
    top: 5px !important;
}

.left_margin {
    left: 5px;
    top: 5px !important;
}