/* styles of buttons for supported pages */
.cda_download_button {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 6px 12px;
    z-index: 5001;
}

.vod_download_button {
    position: absolute;
    left: 0px; top: 0px;
    background-color: #2fd6ff;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font: bold 16px Arial, sans-serif;
    line-height: 24px;
    z-index: 100;
    padding: 0px 10px;
    border: none;
}

.vod_ipla_downlaod_button {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #2fd6ff;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font: bold 16px Arial, sans-serif;
    line-height: 24px;
    z-index: 100;
    padding: 0px 10px;
    border: none;
}

.tvn_download_button {
    position:absolute;
    z-index: 100;
    font-size: 14px;
    padding: 12px 18px;
}

.tvp_vod_downlaod_button {
    position:absolute;
    z-index: 1001;
    text-transform: uppercase;
    margin-top: 0px !important;
    width: auto !important;
    height: 30px !important;
    padding: 0px 15px;
    left: 0px;
    top: 0px;
}

.tvp_cyf_downlaod_button {
    position:absolute;
    z-index: 1;
    text-transform: uppercase;
    width: auto;
    height: 30px;
    padding: 0px 15px;
    background-color: #4c92e3;
    color: #fff;
    border: 0px;
    font: 900 12px Lato, sans-serif;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.tvp_downlaod_button {
    font-family: Arial,Helvetica,sans-serif;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 1;
    text-transform: uppercase;
    width: auto;
    background-color: #465992;
    color: #fff;
    border: 0px;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tvp_reg_download_button {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    margin-top: 0px !important;
    width: auto !important;
    height: 30px !important;
    padding: 0px 15px;
    color: #fff;
    border: none;
    background: #0053a0;
    top: 0px;
    left: 0px;
}

.ipla_download_button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border: 0px;
    text-transform: uppercase;
    padding: 6px 10px;
    font: bold 13px Montserrat, sans-serif;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.wp_download_button {
    position: absolute;
    z-index: 2;
    border: 0px;
    padding: 5px 15px;
    font-family: Poppins,sans-serif;
}

.ninateka_download_button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    border: 0px;
    padding: 3px 10px;
    background-color: #ea1b2b;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}